$primary-color: #2667FF;
$primary-hover: #1351E2;
$secondary-color: #979797;
$red: #F63B00;
$text-color: #363842;
$light-text: #5C5C5C;
$desc-text-color: #322F38;
$table-text-color: #6A707C;
$border-color: #E7E7E7;
$like-bg: #5454544d;
$like-bg-click: #2465ff99;
$filters: #6A707C;