@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $text-color;
}

button {
  border: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

input:focus {
  outline: $primary-color;
}

.container {
  max-width: 1296px;
  margin: 24px auto;
}

.main-btn{
  padding: 14px 13px;
  border-radius: 12px;
  background-color: $primary-color;
}